@font-face {
  font-family: "양진체";
  src: url("https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #5a7a94;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
main {
	margin-bottom: 50px;
}

.padding-none {
  padding: 0;
}
.img-box {
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.img-box > img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Header */
header > * {
  display: flex;
}
.header-mini {
  background-color: #eaeaea;
}
.header-mini > div {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-mini .header-mini-logo {
  font-family: "양진체";
}
.header-mini > div a {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #444;
  margin-left: 20px;
  text-decoration: none;
}
.header-main {
  border-bottom: 1px solid #e2e2e2;
}
.header-main > div {
  height: 92px;
  display: flex;
}
.header-main > div > h1 {
  margin: auto 0;
  font-weight: 900;
  font-size: 28px;
  font-family: "양진체";
  color: var(--main-color);
}

/* Nav - 주제 */
.nav-topic {
  border-bottom: 1px solid rgb(226, 226, 226);
}
.nav-topic ul {
  margin: 0;
  padding: 0;
  display: flex;
  height: 60px;
}
.nav-topic ul > li {
  list-style: none;
  margin-right: 8px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #fff;
}
.nav-topic ul > li > a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
.nav-topic ul > li:hover,
.nav-topic ul > li:hover > * {
  border-color: var(--main-color);
  color: var(--main-color);
}

/* Form */
.address-form {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  align-items: center;
  margin: 24px 0 21px 0;
}
.address-form h2 {
  font-size: 1.125em;
  font-weight: 900;
  line-height: 40px;
  margin: 0;
  margin-right: 21px;
}
.address-form > div {
  border-radius: 0;
  border: 1px solid rgb(226, 226, 226);
  margin-left: 10px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
.address-form > div:nth-child(2) {
    width: 11rem;
}
.address-form > div:nth-child(3) {
    width: 9.5rem;
}
.address-form > div > select {
  border: 0;
  font-size: 0.95em;
}

footer {
  bottom: 0;
  width: 100%;
  border-top: 1px solid #eaeaea;
  padding: 21px 0;
  background-color: #fafafa;
  color: #444;
  margin-top: auto;
}
footer h2 {
  border-bottom: 1px solid #eaeaea;
}
footer a {
  text-decoration: none;
  color: var(--main-color);
}

/* 동기적 CSS 할당 */
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 768px) {
  .img-box > img {
    height: 100%;
  }
}
